body {
	background-color: white;
    font-family: sans-serif;
}

.topmenu {

    padding: 0px;
    text-align: left;
}

#container {
	width: 800px;
	margin: auto;
    clear: both;
    padding: 0px;

}

p img {
	display: inline-block;
	margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 20px;
	float: left;
}

img {
    display: inline-block;
}

p {
    text-align: left;
    margin: 10px;
    font-size: 120%;
}

.top-right {
    float: right;
    display: inline-block;
    margin: 10px;
}

.bottom-left {
    float: left;
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-right: 10px;    
}

.bottom-right {
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 0px;    
}

#content {
    background-image: url("header.jpg");
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 125px;
    padding-right: 50px;
    padding-left: 10px;
    background-repeat: no-repeat;

}

#nav {
    padding-top: 50px;
    padding-bottom: 0px;

}
#main {
    width: 800px;
    margin: 0px;
}

.main {


}


#right {
    width: 360px;
    height: 355px;
    background-color:   #87CEFA;
    position: absolute;
    right: 0px;
    bottom: 100px;
}

#left {
    width: 360px;
    height: 355px;
    background-color:   #87CEFA;
    position: absolute;
    left: 0px;
    bottom: 100px;
}

#header {
	border-style: none;
	padding: 5px 0px 15px 10px;
	margin: 0px;
    clear: both;
} 

ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 50px;
	margin-left: 40px;
	padding-left: 0px;
	padding-right: 0px;

	display: inline;
}

li a:hover {
    background-color: #83C2FF;
    color: black;
    border-radius: 5px;
}

li a {
    color: white;
    margin-top: 65px;
    padding: 5px 15px;
    text-decoration: none;
    display: inline;
    text-align: center;
    float: left;
    display: inline;
}

li {


}

h2 {
    margin-left: 10px;
    margin-top: 0px;
}

h1, .top {
    margin: 0px;
    padding: 0px;
}